*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
}

.app__wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  height: max-content;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.line_through {
  text-decoration-line: line-through;
}

.drag_over {
  background-color: rgb(214, 214, 214);
}

.edit_active {
  display: block !important;
}

.task_description {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 0 2.88rem;
  font-size: 16px;
  background-color: rgb(255, 222, 180);
  z-index: 9;
}

header {
  background-color: rgb(44, 102, 160);
  width: 100%;
  padding: 1rem;

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(243, 235, 235);

    & .reload-icon {
      cursor: pointer;
      font-size: 24px;
      padding: 0.5rem;
      border-radius: 1.625rem;
      transition: 0.15s all ease-in;

      &:hover {
        background-color: rgb(218, 218, 218);
        color: rgb(44, 102, 160);
      }
    }
  }
}

main {
  width: 100%;

  & #task-description {
    width: 100%;
    border: none;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    border-bottom: 1px solid rgb(231, 231, 231);

    &:focus-visible {
      outline: none;
    }
  }
}

ul {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
  user-select: none;

  & article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;

    & .todo__task {
      display: flex;
      gap: 1rem;

      & input[type=checkbox] {
        cursor: pointer;
        z-index: 10;
      }
    }

    & .task_options {
      display: flex;
      gap: 1rem;

      & i {
        padding: 0.6rem;
        font-size: 20px;
        cursor: pointer;
        color: rgb(61, 61, 61);
      }
    }
  }
}

ul > li:nth-child(even) {
  background-color: rgb(236, 236, 236);
}

ul > li:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}

footer {
  width: 100%;
  height: 3rem;
  text-align: center;

  & input[type=button] {
    all: unset;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: rgb(110, 110, 110);
    color: white;
    font-size: 18px;
  }
}
